@model SampleProject.Models.City

<h2>New City</h2>




@using (Html.BeginForm("Create", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
{



    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    <br />




    <br />

    @Html.HiddenFor(m => m.CityId)
    <button type="submit" class="btn btn-info shiny">Save</button>
}