@{
    ViewBag.Title = "About";
}
<h2>Shun Institute.</h2>


<h3> is a High educational Institute that provides a unique standard of learining for our students. Our instructors are top noch with sense of responsibilities.</h3>
